{
  "mastodon": {
    "instance_url": "INSTANCE.social",
    "accounts": {
      "first_account": {
        "username": "news_bot@example.com",
        "password": "123456"
      },
      "second_account": {
        "username": "other_bot@example.com",
        "password": "654321"
      }
    }
  },
  "twitter": {
    "consumer_key": "TWITTER_CONSUMER_KEY",
    "consumer_secret": "TWITTER_CONSUMER_SECRET",
    "access_token": "TWITTER_ACCESS_TOKEN",
    "access_token_secret": "TWITTER_ACCESS_TOKEN_SECRET"
  },
  "forwarders": [
    {
      "mastodon": {
        "account": "news_bot"
      },
      "twitter": {
        "follow": [
          "cnn",
          "spiegelonline"
        ],
        "track": [
          "#dogs",
          "#cats"
        ]
      }
    }, {
      "mastodon": {
        "account": "second_account",
        "private": true
      },
      "twitter": {
        "track": [
          "raspberry",
          "raspberrypi",
          "#raspi"
        ]
      }
    }
  ]
}
